
<div id="dialog"></div>

<div id="sidechannel-container">
  <center>Side Channel</center>
  <div id="sidechannel"></div>
</div>

<div id="notes-container">
  <center>Implementor Notes</center>
  <div id="notes"></div>
  <p>Current Accounts:</p>
  <div id="all-accounts"></div>
</div>

<!-- templates -->
<div id="templates" class="hidden">

  <div class="t1-create-signin">

    <x-tabbox>
      <x-tabs>
        <x-tab selected>Create Account</x-tab>
        <x-tab>Sign In</x-tab>
      </x-tabs>
      <x-tabpanels>
        <x-tabpanel selected="true">
          <form class="create">
            <p>Enter your email address and password to get started.</p>
            <label>Email: </label>
            <input type="text" name="email" class="email focus" />
            <label>Confirm email </label>
            <input type="text" name="email_confirm" />
            <br/>
            <label>Password: </label>
            <input type="password" name="password" />
            <p>By proceeding you agree with <a href="#">Terms of Service</a>
              and <a href="#">Privacy Policy</a>
            </p>

            <input type="submit" class="go" value="Create Account" /> or <a href="#">Sign in</a>
          </form>
        </x-tabpanel>

        <x-tabpanel>
          <form class="login">
            <p>Enter your email address and password to get started.</p>
            <label>Email: </label>
            <input type="text" name="email" class="email focus" />

            <label>Password: </label>
            <input type="password" name="password" />

            <p>
              <a href="#" class="forgot">Forgot password?</a>
            </p>

            <br/>
            <input type="submit" class="go" value="Sign In" /> or <a href="#" class='sign-in'>Create account</a>
          </form>
        </x-tabpanel>
      </x-tabpanels>
    </x-tabbox>

  </div>

  <div class="notes-t1-get-email">
  </div>

  <div class="t2-signed-in-page">
      <center><h2>Welcome!<br/> You are successfully signed in as:</h2>
        <p class="user">test</p>
        <p id="progress-message">Syncing your data...</p>
        <progress id="progress-meter"></progress>
        <p>You may close this tab and keep browsing or go to <a href="#" class="prefs">Preferences</a> to manage your account.</p>
      </center>
  </div>

  <div class="notes-t2-get-password">
  </div>

  <div class="verify">
    <h2>Confirm your email address</h2>
    <p>
      Check your email at <strong class='verify-email'></strong>.
    </p>
    <p>
      Click the link in the confirmation email. You'll then immediately be signed in to PiCL.
    </p>
  </div>

  <div class="preferences">
      <center><h2>Preferences</h2></center>
      <a href="#" class="logout">Sign out</a>
  </div>

  <div class="notes-preferences">
  </div>

</div>


 <script type="text/javascript" src="/javascripts/one.js"></script>
