
<div id="dialog"></div>

<div id="sidechannel-container">
  <center>Side Channel</center>
  <div id="sidechannel"></div>
</div>

<div id="notes-container">
  <center>Implementor Notes</center>
  <p>verify flow: <a href="/flow">link</a> <a href="/flow?verify=pin">pin</a>
  <p>"oops" page: <a href="/flow">off</a> <a href="/flow?verifyLanding=oops">on</a>
  <div class="close"><a href="javascript: toggleAdmin();">x</a></div>
  <div id="notes"></div>
  <p>Current Accounts:</p>
  <div id="all-accounts"></div>
</div>

<!-- templates -->
<div id="templates" class="hidden">

  <div class="t1-create-signin">

    <x-tabbox>
      <x-tabs>
        <x-tab selected>Create Account</x-tab>
        <x-tab>Sign In</x-tab>
      </x-tabs>
      <x-tabpanels>
        <x-tabpanel selected="true">
          <p class="error"></p>
          <form class="create">
            <input type="text" name="email" class="email focus" />
            <br/>
            <input type="password" name="password" />
            <br/>
            <input type="password" name="password_confirm" />
            <p>By proceeding you agree with <a href="#">Terms of Service</a>
              and <a href="#">Privacy Policy</a>
            </p>

            <input type="submit" class="go" value="Create Account" />
          </form>
        </x-tabpanel>

        <x-tabpanel>
          <p class="error"></p>
          <form class="login">
            <input type="text" name="email" class="email focus" />
            <br />
            <input type="password" name="password" />
            <p>
              <a href="#" class="forgot" data-page="reset-password">Forgot Password</a>
            </p>

            <br/>
            <input type="submit" class="go" value="Sign In" />
          </form>
        </x-tabpanel>
      </x-tabpanels>
    </x-tabbox>

  </div>

  <div class="notes-t1-get-email">
  </div>

  <div class="t2-signed-in-page">
      <center><h2>Welcome!<br/> You are successfully signed in as:</h2>
        <p class="user">test</p>
        <p id="progress-message">Syncing your data...</p>
        <progress id="progress-meter"></progress>
        <p>You may close this tab and keep browsing or go to <a href="#" class="prefs">Preferences</a> to manage your account.</p>
      </center>
  </div>

  <div class="notes-t2-get-password">
  </div>

  <div class="verify">
    <h2>Please verify your email at:</h2>
    <p>
      <span class='verify-email'></span>.
    </p>
    <p>Didn't get it? <a href="#" class="resend">Resend Email</a>
  </div>

  <div class="verified">
    <center>
      <h3>Email verified!</h3>
      <h3>Now go to Firefox and sign in!</h3>
      <img src="/images/firefox.png" alt="firefox" />
    </center>
  </div>

  <div class="reset-password">
    <div class="progress"><span class="one active">1</span><span class="two">&nbsp;</span><span class="three">&nbsp;</span></div>
    <p>
      Reset your password
    </p>
    <p class="error"></p>
    <form class="reset">
      <label>Your Email:
        <input type="text" name="email" class="email focus" />
      </label>
      <p>
      <input type="submit" class="go right" value="Reset Password" />
    </form>
  </div>

  <div class="confirm-reset-code">
    <div class="progress"><span class="one">1</span><span class="two active">2</span><span class="three">&nbsp;</span></div>
    <p>
      <strong>We will send you an email to</strong> <span class="email"></span>
    </p>
    <p>
      <small>Didn't get it? <a href="#" class="resend">Resend Email</a></small>
    </p>
    <p class="error"></p>
    <form class="reset_code">
      <label><b>Copy the code in your email below:</b></label>
        <input type="text" name="code" class="code focus" placeholder="XXXXXX" />
      <p>
    </form>
  </div>

  <div class="new-password">
    <div class="progress"><span class="one">1</span><span class="two">2</span><span class="three active">3</span></div>
    <p class="error"></p>
    <form class="new_password">
      <p>
        Great, now create new password!
      </p>
      <input type="password" name="password" placeholder="create password" class="focus" /> <br/>
      <input type="password" name="confirm_password" placeholder="repeat password" />
      <p>
      <input type="submit" class="go right" value="Reset" />
    </form>
  </div>

  <div class="reset-success">
    <p>You reset your password successfully!
    <p>Remember to sign in using your new password on your other devices so they can be all synced!

    <ul class="devices">
    </ul>
  </div>

  <div class="preferences">
      <h2>Preferences</h2>

      <div class="sync-prefs">
        <h3>Account and Sync</h3>
        <p>Signed in as: <span class="email"></span>
        <a href="#" class="change-password">Change password</a>
        </p>

        <button class="logout">Sign Out</button>

        <h3>Data in account</h3>
        <input type="checkbox" name="bookmarks" checked=true /> Bookmarks <br />
        <input type="checkbox" checked=true /> History <br />
        <input type="checkbox" checked=true /> Open Tabs <br />
        <input type="checkbox" checked=true /> Password <br />

        <h3>Devices</h3>
        <fieldset>
          <ul class="devices">
          </ul>
        </fieldset>
      </div>
  </div>

  <div class="preferences-signed-out">
      <h2>Preferences</h2>

      <div class="sync-prefs">
        <h3>Account and Sync</h3>
        <p class="success">Successfully signed out</p>
        <p>Firefox is so cool (change me).</p>

        <button class='signin'>Sign In</button>
        <button class='create'>Create Account</button>
      </div>
  </div>

  <div class="notes-preferences">
  </div>

</div>


 <script type="text/javascript" src="/javascripts/one.js"></script>
