body {
  font-family: sans-serif;
  font-size: 18px;
}

.hidden {
  display: none;
}

div#dialog {
  width: 700px;
  /*background-color: #ccf;*/
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5%;
  margin: 0 auto;
}

#dialog x-tabpanels {
  width: 700px;
}

div#sidechannel-container {
  height: 200px;
  width: 300px;
  background-color: #fdd;
  position: absolute;
  left: 5px;
  bottom: 5px;
  padding: 5px;
}

div#notes-container {
  height: 200px;
  width: 300px;
  background-color: #ff8;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px;
}

span.show-code {
  font-family: fixed;
  font-weight: bold;
  font-size: 150%;
}

label {
  padding: 8px 0px 0px;
  display: block;
}

input {
  font-size: 18px;
}

.close {
  background: white;
  position: absolute;
  right: 5px;
  top: 5px;
}


/* TABBOX DEMO */

  #dialog {
    text-shadow: 0 1px 0 #fff;
  }

  #dialog x-tabs {
    position: relative;
    z-index: 1;
  }

    #dialog[tab-orient="bottom"] x-tabs {
      margin-top: -1px;
    }

  #dialog x-tab {
    padding: 5px 8px 1px;
    border: 1px solid;
    border-color: #cacaca #b0b0b0 #b0b0b0;
    background: linear-gradient(top, #fafafa, #dadada);
    background: -ms-linear-gradient(top, #fafafa, #dadada);
    background: -moz-linear-gradient(top, #fafafa, #dadada);
    background: -webkit-linear-gradient(top, #fafafa, #dadada);
    color: #666;
    border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    cursor: pointer;
  }

  #dialog x-tab[selected] {
    padding-bottom: 2px;
    color: #000;
    border-bottom-width: 0;
    background: linear-gradient(top, #fefefe, #E7EDF6);
    background: -ms-linear-gradient(top, #fefefe, #E7EDF6);
    background: -moz-linear-gradient(top, #fefefe, #E7EDF6);
    background: -webkit-linear-gradient(top, #fefefe, #E7EDF6);
    text-decoration: none;
    cursor: default;
    outline: 0;
  }

    #dialog[tab-orient="bottom"] x-tab {
      border-top-color: #A0A0A0;
      border-bottom-width: 1px !important;
      background: linear-gradient(top, #dadada, #fafafa);
      background: -ms-linear-gradient(top, #dadada, #fafafa);
      background: -moz-linear-gradient(top, #dadada, #fafafa);
      background: -webkit-linear-gradient(top, #dadada, #fafafa);
      border-radius: 0 0 3px 3px !important;
      -ms-border-radius: 0 0 3px 3px !important;
      -moz-border-radius: 0 0 3px 3px !important;
      -webkit-border-radius: 0 0 3px 3px !important;
    }

    #dialog[tab-orient="bottom"] x-tab[selected] {
      background: #CFDBEC;
      border-top-width: 0px !important;
    }

    #dialog[tab-orient="left"] x-tab {
      border-right-width: 0px !important;
      margin-bottom: 4px;
      border-bottom-width: 1px !important;
      border-radius: 3px 0px 0px 3px !important;
      -ms-border-radius: 3px 0px 0px 3px !important;
      -moz-border-radius: 3px 0px 0px 3px !important;
      -webkit-border-radius: 3px 0px 0px 3px !important;
    }

    #dialog[tab-orient="right"] x-tab {
      border-left-width: 0px !important;
      margin-bottom: 4px;
      border-bottom-width: 1px !important;
      border-radius: 0px 3px 3px 0px !important;
      -ms-border-radius: 0px 3px 3px 0px !important;
      -moz-border-radius: 0px 3px 3px 0px !important;
      -webkit-border-radius: 0px 3px 3px 0px !important;
    }

  #dialog x-tabpanels {
    margin-top: -1px;
    padding: 4px 6px;
    border: 1px solid;
    border-color: #b0b0b0 #b0b0b0 #a0a0a0;
    background: linear-gradient(top, #E7EDF6, #CFDBEC);
    background: -ms-linear-gradient(top, #E7EDF6, #CFDBEC);
    background: -moz-linear-gradient(top, #E7EDF6, #CFDBEC);
    background: -webkit-linear-gradient(top, #E7EDF6, #CFDBEC);
    border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 4px -4px #000;
    -ms-box-shadow: 0 1px 4px -4px #000;
    -moz-box-shadow: 0 1px 4px -4px #000;
    -webkit-box-shadow: 0 1px 7px -4px #000;
  }

    #dialog[tab-orient="bottom"] x-tabpanels {
      border-radius: 3px 3px 0 0;
      -ms-border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      -webkit-border-radius: 3px 3px 0 0;
    }

  #dialog[tab-orient="left"] x-tabpanels, #dialog[tab-orient="right"] x-tabpanels {
    margin-top: 0px;
  }


#progress-message {
  padding-top: 30px;
  color: #999;
  font-size: 90%;
}

#progress-meter {
  width: 300px;
}

.reset, .new-password, .reset-success {
  width: 400px;
}

.reset .email, .new-password input[type="password"] {
  width: 300px;
}

.right {
  float: right;
}

fieldset {
  border-radius: 8px;
}
